body{
    background-image: url("Background.jpg") ;
}

.heading{
    background-image: linear-gradient(to left bottom, #d16bd1, #ff6caa, #ff8084, #ffa069, #f5c163, #e6d063, #d3de6c, #bbec7c, #abf077, #98f473, #80f772, #5ffb73);
    width: 70%;
    margin: 10px;
    color: #ff8084;
}

.buttons{
    background-image: radial-gradient(circle, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    color: white;
    font-size: 20px;
    padding: 5px;
    box-shadow: 5px 5px 5px yellowgreen;
}

.footer{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 25px;
}
canvas{
    border:5px groove yellow;
    border-radius: 25px;
    box-shadow: 5px 5px 5px chartreuse;
    margin-top: 100px;
    margin-bottom: 100px;
}